/* 모바일용 CSS */
    @media screen and (max-width: 768px) {
    #wrapper{display: flex; flex-flow: column nowrap;}
    /* #mobile-header{}     */
    header{width: 100%; height: 100px;}    
    header .logo{min-width: 200px; height: 140px; margin:0 auto; margin-top: -45px;}
    header .logo a{height: 140px; margin-top: 15px;}    
    nav{display: none;}
    .slideshow-container{height: 640px;}
    .dots{position: absolute; bottom: 3rem; left: 40%;}  
    .mySlides img {height: 640px;}
    .btn-burger{
    display:block;position: absolute; right: 20px;top: 32px; z-index: 1000; width: 100px; height: 45px; cursor: pointer;
    }
    .btn-burger span{display: block;
    position: absolute; right: 22px; width: 65px; height: 2px; background:#fff;
    }
    .b1{top:10px;}
    .b2{top:20px;}
    .b3{top:30px;}
    .mobile-nav{display: block; width: 100%; height: 600px; position: relative; background-color: #1c1c1c;
    margin: 0 auto; text-align: center; box-sizing: content-box;
    }
    .mobile-nav p{font-size: 2rem;}
    .mobile-info{width: 100%; display: flex; position: absolute;
        bottom:18%; justify-content: space-around;}
    .mobile-info a{color: #5c5857;}
    
    .menu-icon{width: 100%; display: flex; flex-direction: column wrap; padding-top: 40px;}
    .menu-icon a{display: inline-block; width: 50%; height: 50%; color:#5c5857; padding-bottom: 50px;}
    /* .menu-icon .top a, .bottom a{padding-bottom: 20%;} */
    .top, .bottom{width: 100%; height: 50%;}
    /* .tp, .bt{padding: 10%;} */
    .menu-icon p{padding-top: 10%;}
    .menu-icon .fas, .menu-icon .far{color: #5c5857; font-size: 6rem;}
    .display-text{font-size: 5rem; top:18rem; left:1.5rem;}
    /* 도입부 */
    /* .sec1wrapper{height: 600px;} */
    .intro-text{width: 40%; height: 30%;}
    .intro-text p{font-size: 1.3rem; line-height:2rem;}   
    .main-wrapper.sec1{height: 1050px;}
    .main-contents-wrapper{width: 100%; height: 100%;}
    .main-contents-wrapper img{width: 100%; height: 100%;} 
    .main-pic-wrapper{flex-flow: column wrap; height: auto;}
    
    /* 프로그램 소개 */
    .right-text{flex-flow:column wrap; height: 100%;}
    .left-text{flex-flow:column wrap; height: 100%;}
    .left-text .pro:nth-of-type(1){order: 2;}
    .left-text .pro:nth-of-type(2){order: 1;}
    .pro{width: 100%;}
    .pro.text{min-height: 400px; padding: 10px 0 0 10px;}
    /* 시설 소개 */
    .fac-container{width: 100%; height: 100%;}
    p.category{font-size: 3rem;}
    .ptext-box{padding: 0;}
    /* 3GX 시스템 */
    .gx3-wrapper .gx3-pic{width: 100%; height: 100%;}
    .gx3-wrapper .gx3-container{width: 100%; height: 600px;}
    .gx3-wrapper{width: 100%; height: 100%; display: flex; flex-flow: column wrap;}
    
    /* 각 페이지 상단 */
    .main-nav a{padding: .5rem; margin: .5rem; font-size: 1.5rem;}

    /* intro.css*/
    /* 시설 안내 */
    .main-contents-wrapper img {width: 100%; height: 100%;}
    
    .mp{width: 100%; height: 100%;}
    /* 시설 방역 */
    .c-wrapper{flex-flow: column wrap;}

    /* 코치 소개 */

    /* 위치 안내 */
    .l-wrapper{flex-flow: column wrap;}
    #map, .ltext{width: 100%;}
    .ltext{min-height: 300px;}

    /* footer */
    footer .logo, footer .logo a{width: 50%; height: 100px;}
    footer .office-info-wrapper{width:100%; flex-direction: column wrap;}
    footer .office-info{width:100%;}
    footer p{font-size: 1.3rem;}
    .office-info:nth-child(1){margin-right: 5%;}
    .office-info:nth-child(3){display:none;}

    /* 프로그램 - gx 프로그램 */
    .gx-wrapper{flex-flow: column wrap; width: 100%; height: auto;}
    .gxbox{width: 100%; margin-bottom: 161px;}
    
    /* 회원 관리 페이지 */
   
    
    
    }

	