/* 모바일용 CSS */
@media (max-width: 768px) {
    #wrapper{display: flex; flex-flow: column nowrap;}
    /* #mobile-header{}     */
    header{width: 100%; height: 100px;}    
    header .logo{width: 27%; height: 100px; margin:0 auto;}
    header .logo a{height: 100px;}    
    nav{display: none;}
    .slideshow-container{height: 640px;}
    .dots{position: absolute; bottom: 3rem; left: 40%;}  
    .mySlides img {height: 640px;}
    .btn-burger{
    display:block;position: absolute; right: 20px;top: 32px; z-index: 1000; width: 100px; height: 45px; cursor: pointer;
    }
    .btn-burger span{display: block;
    position: absolute; right: 22px; width: 65px; height: 2px; background:#fff;
    }
    .b1{top:10px;}
    .b2{top:20px;}
    .b3{top:30px;}
    .mobile-nav{display: block; width: 100%; height: 600px; position: relative; background-color: #1c1c1c;
    margin: 0 auto; text-align: center; box-sizing: content-box;
    }
    .mobile-nav p{font-size: 2rem;}
    .mobile-info{width: 100%; display: flex; position: absolute;
     bottom:18%; justify-content: center;}
    .mobile-info a{color: #5c5857;}
    .mobile-info p:nth-child(1){margin-right: 50px;}
    .menu-icon{width: 100%; display: flex; flex-direction: column wrap; padding-top: 40px;}
    .menu-icon a{display: inline-block; width: 50%; height: 50%; color:#5c5857; padding-bottom: 50px;}
    /* .menu-icon .top a, .bottom a{padding-bottom: 20%;} */
    .top, .bottom{width: 100%; height: 50%;}
    /* .tp, .bt{padding: 10%;} */
    .menu-icon p{padding: 10%;}
    .menu-icon .fas, .menu-icon .far{color: #5c5857; font-size: 6rem;}
    
    .display-text{font-size: 5rem; top:18rem; left:1.5rem;}
    /* 도입부 */
    /* .sec1wrapper{height: 600px;} */
    .sec1text{width: 40%; height: 30%;}
    .sec1text p{font-size: 1rem; line-height:1.1rem;}   
    .main-wrapper.sec1{height: 1050px;}
    .main-contents-wrapper{width: 100%; height: 100%;}
    .main-contents-wrapper img{width: 100%; height: 100%;} 
    .main-pic-wrapper{flex-flow: column wrap; height: auto;}
    
    /* 프로그램 소개 */
    .pro{width: 100%;}
    .pro:nth-child(2n){min-height: 400px; padding: 10px 0 0 10px;}
    /* 시설 소개 */
    .container{width: 100%; height: 100%;}
    .category{font-size: 2rem;}
    .ptext-box{padding: 0;}
    /* 3GX 시스템 */
    .sec4wrapper .sec4pic {width: 100%; height: 100%;}
    .sec1pic{height: 600px;}
    .sec4wrapper{width: 100%; height: 100%; display: flex; flex-flow: column wrap;}
    
    /* 각 페이지 상단 */
    .main-nav a{padding: .5rem; margin: .5rem; font-size: 1.5rem;}

    /* intro.css*/
    /* 시설 안내 */
    .main-contents-wrapper img {width: 100%; height: 100%;}
    
    .mp{width: 100%; height: 100%;}
    /* 시설 방역 */
    .c-wrapper{flex-flow: column wrap;}

    /* 위치 안내 */
    .l-wrapper{flex-flow: column wrap;}
    #map, .ltext{width: 100%;}

    /* footer */
    footer .logo, footer .logo a{width: 50%; height: 100px;}
    footer .office-info-wrapper{width:100%; flex-direction: column wrap;}
    footer .office-info{width:100%;}
    footer p{font-size: 1rem;}
    .office-info:nth-child(1){margin-right: 5%;}
    .office-info:nth-child(3){display:none;}
    /* footer .sns-wrapper{display: inline-block; margin-top: 1rem;} */
    /* footer .fab:first-child{margin-right: 30px;} */
}

