   /* main.html */
  /* body{padding-top: 150px;} */
  p{line-height:1.5;}
  #wrapper{width: 100%; height: auto; display: flex; flex-flow: column nowrap; position: relative;}
  /* js로 추가될 클래스 */
  .nav-up{top: -750px;}
  /* 헤더 */
  .btn-burger{display: none;}
  .mobile-nav{display: none;}
   header{
    position: fixed;
    z-index: 100;
    top: 0; left: 0; width: 100%; height: 150px;
    transition-property: background-color; 
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    }
 
  .logo{display: inline-block; width: 200px; height: 140px; margin: 0 10px; background-image: url("../images/s_images/logo-white.png"); background-size: 200px 140px; background-repeat: no-repeat; text-indent: -9999px; cursor: pointer;}
  .logo a{display: block; min-width: 200px; height: 140px; margin: 0 100px;}
  .nav{max-width: 1440px; margin: 0 auto; position: relative;}
  /* 인포메이션 */
  .info_section{min-width: 283px; margin-right: auto; display: flex;}
  .info_list{display: flex; justify-content: space-between;
    position: absolute; top: -121px;} 
  .info_list li{width: 100%; flex-grow: 0; flex-shrink: 0; flex-basis: auto;}
  .info_list li a{font-size: 1.5rem;}
  /* 내비 */
  .dropmenu{position: absolute; top: -110px; left: 339px; border: none;
    border: 0px; margin: 0px; padding: 0px; justify-content: center;}
  .sub_ul{background: #666; list-style: none; margin: 0; padding: 0;}
  .dropmenu li{float:left; flex-grow: 1; flex-shrink: 1; flex-basis: auto;}
  .dropmenu li a{
    color: #fff; display: block; margin: 0px; text-align: center;
    text-decoration: none;}
  .menu_a{line-height: 100px; position: relative; font-size: 2rem;}
  .sub_a{line-height: 50px;}
  .menu_li{padding: 0 1.8rem;}
  
  @media screen and (max-width: 1390px){
  /* .menu_li{padding: 0 1.5rem;}
  .menu_a{font-size: 1.8rem;} */
  p.category{font-size: 3rem;}
  }
  /* @media screen and (max-width: 1296px){
  .menu_a{font-size: 1.5rem;}  
  } */
  @media screen and (min-width: 1400px){
  /*.menu_li{padding: 0 2.5rem;}*/
  }
  @media screen and (max-width: 1480px){
  /* .dropmenu .menu_li:nth-child(5){display: none;} */
  
  .nav{display: none;}
  .btn-burger{
    display:block;position: absolute; right: 20px;top: 32px; z-index: 1000; width: 100px; height: 45px; cursor: pointer;
    }
    .btn-burger span{display: block;
    position: absolute; right: 22px; width: 65px; height: 2px; background:#fff;
    }
    .b1{top:10px;}
    .b2{top:20px;}
    .b3{top:30px;}
    .mobile-nav{display: block; width: 100%; height: 600px; position: relative; background-color: #1c1c1c;
    margin: 0 auto; text-align: center; box-sizing: content-box;
    }
    .mobile-nav p{font-size: 2rem;}
    .mobile-info{width: 100%; display: flex; position: absolute;
        bottom:18%; justify-content: center;}
    .mobile-info a{color: #5c5857;}
    .mobile-info p:nth-child(1){margin-right: 50px;}
    .menu-icon{width: 100%; display: flex; flex-direction: column wrap; padding-top: 40px;}
    .menu-icon a{display: inline-block; width: 50%; height: 50%; color:#5c5857; padding-bottom: 50px;}
    /* .menu-icon .top a, .bottom a{padding-bottom: 20%;} */
    .top, .bottom{width: 100%; height: 50%;}
    /* .tp, .bt{padding: 10%;} */
    .menu-icon p{padding-top: 10%;}
    .menu-icon .fas, .menu-icon .far{color: #5c5857; font-size: 6rem;}
  }
  @media screen and (min-width: 1480px){
  .mobile-nav, .mobile-nav .menu-icon, .mobile-nav .mobile-info {display: none;}
  }
  
  @media screen and (max-width: 1260px){
  /* .dropmenu .menu_li:nth-child(4){display: none;} */
  }
  @media screen and (max-width: 1240px){
    p.category{font-size: 2.5rem;}
  }
  @media screen and (min-width:769px) and (max-width:1240px){
    .gxbox:nth-of-type(3){display: none;}
    .gxbox{width:50%;}
  }
  @media screen and (max-width: 1024px){
    p.category{font-size: 2.2rem;}
  }


  .menu_a:after{
    content: ''; position: absolute; width: 0; height: 3px;
    display: block; margin-top: -35px; right: 0; background: #fff; transition: width .3s ease;}
  .menu_a:hover:after{width: 100%; left: 0; background: #fff;}
  .sub_ul{display: none; height: auto; border: 0px; position: absolute; top: 100%; width: 7.5rem;}
  .dropmenu li:hover ul{display: block;}
  .sub_li{background: #292929; display: block; float: none; margin: 0px; padding: 0px; width: 12rem;}
  .dropmenu li li a{color: #747474; font-size: 1.5rem;}
  .dropmenu li:hover li a{background: none;}
  .dropmenu li ul a{display: block; margin: 0px; padding-left: 15%; text-align: left;}
  .dropmenu li ul a:hover, .dropmenu li ul li:hover a{border: 0px; color: #fff; text-decoration: none;}


  /* 슬라이더 */
  .display-text{color: #de3726; font-size: 13rem; font-style: italic;
  position: absolute; top: 15rem; left: 8rem; z-index: 1;}
  .mySlides{display: none;}
  .mySlides img{width: 100%; height: 1000px; filter: brightness(40%);}
  .slideshow-container{width: 100%; height: 1000px; position: relative; margin: auto;}
  .dots{position: absolute; bottom: 5rem; left:50%;}
  .dot{height: 15px; width: 15px; margin: 0 2px; background-color: #bbb; border-radius: 50%; display: inline-block; transition: background-color 0.6s ease;}
  .active{background-color: #717171;}
  .fade{animation-name: fade; animation-duration: 1.5s;}
   @-webkit-keyframes fade{
     from {opacity: .4} 
     to {opacity: 1}
   }
   @keyframes fade{
     from {opacity: .4} 
     to {opacity: 1}
   }
  /* 푸터 */
  .footer-wrapper{width: 100%; display:flex; flex-direction: column;} 
  footer{margin-top:auto; position:relative; height:auto; width: 100%; display: flex; justify-content: space-around; background: #474747; color:#eee;}
  footer .logo{width: 200px; height: 140px;}
  footer .office-info-wrapper{display: flex; flex-direction: row; width: 80%; justify-content: space-evenly;}
  .line{display:block; border-top: 2px solid #de3726; width: 3rem; margin-top: 2.5rem;}
  footer p{display: flex; margin-top: 2rem; line-height: 1.5; font-size: 1.4rem;}
  footer .copyright{position: absolute; bottom: 5%; margin: 0 auto;}
  footer .copyright p{font-size: 1rem;}
  footer .sns-wrapper{display: inline-block; margin-top: 2rem;}
  footer .fab{font-size: 2rem;}
  footer .fab:hover{color: #de3726; cursor: pointer;}
  footer .fa-facebook-square{margin-right: 1rem;}

  /* 섹션 */
  #wrapper section{box-sizing: border-box;}

  /* 메인 공통 */
  .main-wrapper{width: 100%; height: auto; display: flex; flex-direction: column; background-attachment: fixed;}
  .main-contents-wrapper{width: 100%; height: 1000px;}
  .main-intro{width: 100%; min-height: 400px; display: flex; flex-direction: column; justify-content: center; align-items: center; background: #fff;}
  .main-intro>h3{font-size: 4rem;}
   
  /* .main-contents-wrapper{} */
  .main-pic-wrapper{width: 100%; height: 100%; 
    display: flex; flex-flow: column wrap;
    background-color: #1c1c1c;
    position: relative;
  }
  /* 시설 소개 */
  .fac-container{cursor: pointer; position: relative; width: 50%; height: 50%;}
  .overlay{position: absolute; transition: all .3s ease-out; opacity: 0;}
  .fac-container:hover .overlay{opacity: 1;}
  .overlayRight{height: 20%; width: 0; right: 0; background: #de3726; position: absolute; bottom: 20%;}
  .fac-container:hover .overlayRight{width: 60%;}
  .fac-container:hover .mp{transform: translate(50px, 50px);} 
  .category{color: #fff; font-size: 4rem; text-align: right;}

  /* 프로그램 소개 */
  .main-pic-wrapper:nth-of-type(3){overflow: hidden; display:flex; flex-flow: column wrap}
  .pro{width: 50%;}
  .pro h4, .pro p{color: #fff; padding: 20px;}
  .pro.text{display: flex;
  flex-flow: column wrap; position: relative;}
  .pro p{font-size: 1.3rem;}
  span.pro-line{display:block; border-top: 2px solid #808080; width: 10rem; margin-left: 20px;}
  .bg-red-btn{width: 200px; height: 50px; padding: 10px; background: #de3726;
  border-radius: 5px; margin-left: 18px; font-size: 2rem; text-align: center;
  padding-top: 20px; position: absolute;}
  .bg-red-btn:hover span {padding-right: 35px;}
  .bg-red-btn:hover span:after {opacity: 1;right: 0;}
  .bg-red-btn span{display: inline-block;
    position: relative;transition: 0.5s;}
  .bg-red-btn span:after {
    content: '\00bb'; font-size: 2rem;
    font-weight: 700; position: absolute;
    opacity: 0; top: -1px; right: -20px; transition: 0.5s;
    padding-left: 10px;
  }
  .ptext-box{padding: 8% 0 0 8%;}
  .right-text{display: flex; width: 100%; height: 50%;}
  .left-text{display: flex; width: 100%; height: 50%;}

  .fac-container{cursor: pointer; position: relative; width: 50%; height: 50%;}
  .overlay{position: absolute; transition: all .3s ease-out; opacity: 0;}
  .fac-container:hover .overlay{opacity: 1;}
  .overlayRight{height: 20%; width: 0; right: 0; background: #de3726; position: absolute; bottom: 20%;}
  .fac-container:hover .overlayRight{width: 60%;}
  .fac-container:hover .mp{transform: translate(50px, 50px);} 
  
  /* 3GX 시스템 */
  .gx3-wrapper{width: 100%; height: 100%; display: flex; overflow: hidden;}
  .gx3-wrapper .gx3-container{position: relative; cursor: pointer; width: 33.33%; min-height: 700px; transition: all 0.5s ease-out;}
  .gx3-wrapper .gx3-container:hover{transform: scale(1.1);}
  /* .gx3-wrapper .gx3-container h2{position: absolute; transition: all .3s ease-out; opacity: 0;} */
  /* .gx3-wrapper .gx3-container:hover h2.overlay{opacity: 1;}
  .overlayLeft{height: 20%; width: 0; left: 0; background: #de3726; position: absolute;}
  .gx3-wrapper .gx3-container:hover h2.overlayLeft{width: auto;} */ 
  .gx3-wrapper .gx3-container .gx3-text h2{display: block; position: relative; z-index: 0;}
  .gx3-wrapper .gx3-container .gx3-text h2:after{content:''; display: block; position: absolute; bottom:0; width: 0; height: 100%; left: 0; background-color: #de3726; z-index: -1;}
  .gx3-wrapper .gx3-container:hover h2:after{width: 100%; left: 0; transition: all .3s ease-out;}
  .gx3-wrapper .gx3-container .gx3-text a{display: block; padding-top: 50px;}
  .gx3-wrapper .gx3-container .gx3-pic{width: 100%; height: 100%; filter:brightness(50%);}
  .gx3-wrapper .gx3-container .gx3-text{
    min-width: 100%; font-size: 3rem;
    position: absolute; top:30%; color:#fff; vertical-align: middle; text-align: center;
    min-height: auto; 
  }
  
  
  .gx3-wrapper .gx3-container .gx3-text a{}

  .intro-wrapper{width: 100%; height:100%; position: relative;}
  .intro-text{width: 30%; max-height: 40%; background-color: #1c1c1c; float: right;
  position: absolute; right: 5%; top: 10%; z-index: 99;}
  .intro-text p{font-size: 1.5rem; color: #fff; margin: 5%;}
  .intro-pic{width: 100%; height:1000px; filter: brightness(90%);}
  .main-contents-wrapper img{z-index: 0; width: 100%; height: 100%;
  transition: transform .5s ease-out;}

  /* .main-pic-wrapper */
  .sm-title-wrapper{display:flex; flex-direction:row; justify-content:space-around; margin-top:1.2rem;}
  .sm-title p{font-size:1.5rem; color: #eee;}
  .main-intro .split_content_wrap{display: flex; flex-wrap: nowrap;}
  .main-intro .split_content_wrap span.first-letter{display: none;}
  .main-intro .split_content_wrap span.first-letter,
  .main-intro .split_content_wrap span.first-letter-hidden{
  color:#de3726; font-size: 4rem; line-height: .86;}
  .main-intro .split_content_inner{display: flex; flex-wrap: nowrap;
  justify-content: center; align-items: center;}
  .main-intro .split_content_inner p{padding-left: 0;
  font-size: 2rem; line-height: 1.3; width: 80%; text-align: left; margin:50px 0;
  display: flex; justify-content: center; align-items: center;}
  .main-intro .split_content_inner .first-letter-hidden{
    display: inline-block; padding-bottom: 15px; padding-right: 10px; position: relative; top: 5px;
}

  /* 각 페이지 상단 CSS */
  .main{width: 100%; height: auto; display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #1c1c1c;}
  .main-top{width: 100%; height:420px; display: flex; flex-direction: column; align-items: center; justify-content: center;}
  .main-nav{width: 100%; display:flex; justify-content: center; align-items: center;}
  .main-nav a{display:inline-block; padding: 1rem; margin: 1rem; border: 1px solid #de3726; text-align:center; font-size: 2rem;}
  .main-title{padding-top: 15px; width: 100%; margin:0 auto; font-size: 4rem; color: #fff; display: flex; justify-content: center; }

  /* intro */
  /* 방역 안내 */
  .main-pic-wrapper .covidpic{margin: 0 20%; max-width: 63%; height: 200px; }
  .c-wrapper{display: flex; justify-content: space-between;
  margin: 0 auto;}
  .cbox{max-width: 300px; min-width:33:33%; min-height: 400px; border: 2px solid #1c1c1c; text-align: left; padding: 40px; margin: 8px;}
  .cbox p{line-height: 1.5;}
  .cbox p:first-child{font-size: 2rem;}
  .cbox p:nth-of-type(2){font-size: 1.5rem; margin-top: 20px;}

  /* 코치 소개 */
  .i-wrapper{display: flex; flex-flow: column nowrap;}
  .ibox{overflow: hidden; display: flex; width: 100%; height: auto; background: #1c1c1c; margin: 0 auto; max-width: 1400px;}
  .ipic{min-width: 300px; max-width: 50%; transition: all 0.1s ease-out;}
  .ipic:hover{transform: scale(1.1);}
  .itext{min-width: 50%; max-width: 300px; min-height: 500px; margin:0 auto; margin-top:50px;}
  .itext h2{display:inline-block; font-size: 2rem; color: #de3726; padding: 2%; border: 1px solid #fff; margin: 0 0 0 16px;
  }
  
  .ibox .career, .ibox .moto{width: 100%; padding: 2%;}
  .ibox .career{display: inline-block; font-size: 1.5rem; color: #fff; line-height: 1.5;}
  .ibox .moto{color: #fff; height: auto; font-size: 1.5rem;}
  .ibox .moto:nth-of-type(2n){text-align:right;}
  span.iname{font-size: 3rem; color: #5c5857; position: absolute;
  }
  
  .alex{left: 0; top: 445px;}
  .jen{right: 30px; bottom: 1000px;}
  .mia{left: 3px; bottom: 500px;}
  .tina{right: 30px; bottom: 30px;}
  

  /* 위치 안내 */
  .l-wrapper{display: flex;}
  #map{width: 80%; height: 600px; border: 1px solid rgba(0, 0, 0, .2); float:left;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  box-sizing: border-box;}
  .ltext{width: 20%; height: 600px; background: #1c1c1c; box-sizing: border-box; padding: 20px;}
  .ltext p:nth-child(2n-1){color: #de3726; font-size: 2rem;}
  .ltext p:nth-child(2n){color: #fff; font-size: 1.5rem;}

  /* 프로그램 - GX 프로그램 */
  .gx-wrapper{display: flex; flex-flow: row nowrap; width: 100%; height: auto;}
  
  .gx-wrapper h2{font-size: 3rem; color: #fff;}
  .gxbox{position: relative; width: 30%; height: 100%; margin: 0 auto; border-radius: 100%;
  background:#302d2b; transition: background-color 0.1s ease-in-out;}
  .gxbox:first-child:hover {background: #ff77ff;}
  .gxbox:nth-of-type(2):hover {background: #e3ff00;}
  .gxbox:nth-of-type(3):hover {background: #8a3be2;}
  .gxbox:hover img{transform: scale(1.5);}
  
  .gxbox:hover .gxbox{transform: scale(1.5);}
  .gxbox img{width: 100%; height: auto; transition: background-color 0.1s ease-in-out;
  position: relative; z-index: 1;}
  /* .verline{display: block; border-left: 2px solid #fff; height: 100px;
  position: absolute; left: 50%; margin-top: 10px;} */
  .gxbox:hover .verline{transform:}
  /* .gxtitle{color: #fff; position:absolute; left: 41%; bottom: -56%;} */
  .gxbox h3{position: absolute; left: 0; bottom: -127px; width: 100%; text-align: center;
  color: #fff;}
  .gxbox h3 span:after{content: ''; display: block; border-left: 2px solid #fff; height: 77px;
    position: absolute; left: 50%; margin-top: -103px; z-index: 0;}

  
  .tg  {min-width: 80%; max-width: 600px; margin:0 auto; border-collapse:collapse;border-spacing:0; font-color: #fff;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg tr:nth-child(2n){}
  .tg tr:nth-child(2n-1){}
  .tg th{background: brown; border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-baqh, .tg .tg-c3ow, .tg .tg-0pky, .tg .tg-0lax{font-family:'Do Hyeon'; color: #fff; font-size: 1.3rem; border-color:#fff;
  text-align:center; vertical-align: middle;}
 
  .tg .ae{opacity:1;}
  .tg .yo{opacity:1;}
  .tg .pil{opacity:1;} 



  