<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-Mapper.dtd">
<mapper namespace="Reservation">   
   <!-- resultMap은 db컬럼명과 vo의 필드값이 안 맞을 때 사용한다. -->
   <resultMap id="resultReservation" type="Reservation"> 
      <id property="num" column="R_NUM" />
      <result property="regDate" column="R_REG_DATE"/>
      <result property="programName" column="PROGRAM_NAME"/>
      <result property="programTime" column="PROGRAM_TIME"/>
      <result property="userId" column="USER_ID"/>
      <result property="userName" column="USER_NAME"/>
      <result property="programId" column="PROGRAM_ID"/>
   </resultMap>

   <select id="selectReservation" resultMap="resultReservation" parameterType="Reservation">
     select r.r_num, p.program_name, r.r_reg_date, p.program_time, m2.user_name from program p 
	    join reservation r  on p.program_id = r.program_id
	    join member_info m1 on  m1.user_id = r.user_id
	    join member_info m2 on p.user_id = m2.user_id where r.user_id = #{userId}
	    order by r.r_num
   </select>
   
   <delete id="deleteReservation" parameterType="int">
      delete from reservation where R_NUM = #{num}
   </delete>
   
   <insert id="insertReservation" parameterType="Reservation">
      INSERT INTO reservation VALUES(R_NUM_SEQ.nextval, #{regDate}, #{programId}, #{userId})
   </insert>
   
   
   
  <!-- 선재 회원 예약 코드 날짜 -->
	<select id="selectReservationByDate" resultMap="resultReservation" parameterType="String">
		select r.r_num, p.program_name, r.r_reg_date, p.program_time, m.user_name from program p 
	    join reservation r  on p.program_id = r.program_id
	    join member_info m on  m.user_id = r.user_id and  m.user_id = r.user_id 
        where r_reg_date =  TO_DATE(#{date}, 'YYYY-MM-DD')  
	    order by r.r_num
	</select>
   
</mapper>